<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Games</title>
</head>
<body>
    <header style="background-color: rgb(235, 235, 235);">
        <h1 style="text-align: center;">The Games</h1> <hr>
    </header>

    {% block content %}
    <!-- aqui irá o conteudo principal do site-->
    {% endblock content %}

    <footer style="background-color: rgb(235, 235, 235);">
        <hr>
        <p style="text-align: center;">&copy; 2026 - The Games - Todos os direitos reservados.</p>
    </footer>

</body>
</html>