{% extends 'base.html'%}
{%block content%}

<h2>Cadastro de Jogos</h2>
<hr>

<form action="{{url_for('cadgames')}}" method="post">
    <label for="text">Título</label>
    <input type="text" name="titulo" placeholder="insira o nome do jogo" required class="form-control"> 


    <label for="text">Ano</label>
    <input type="text" name="ano" placeholder="insira o ano do jogo" required class="form-control">

    <label for="text">Categorias</label>
    <input type="text" name="categoria" placeholder="insira a categoria do jogo" required class="form-control">

    <label for="text">Plataforma</label>
    <input type="text" name="plataforma" placeholder="insira a plataforma do jogo" required class="form-control">

    <input type="submit" value="Cadastrar" class="btn btn-success">
    <input type="reset" value="Limpar" class="btn btn-danger">
</form>
<br><hr>

<h4>Jogos Cadastrados</h4>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Ano</th>
            <th>Categorias</th>
            <th>Plataforma</th>
        </tr>
    </thead>
    <tbody>
        {% for game in listaGames %}
        <tr>
            <td>{{game.titulo}}</td>
            <td>{{game.ano}}</td>
            <td>{{game.categoria}}</td>
            <td>{{game.plataforma}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock content%}