<!DOCTYPE html>
<html>

<head>
<title>Cadastrar usuário</title>
<link rel="stylesheet" href="../static/style.css">
</head>

<body>

<header>

<h1>Cadastro de usuário</h1>

<nav>

<a href="/">Início</a>
<a href="/usuarios">Ver usuários</a>

</nav>

</header>

<div class="container">

<p>
Realize o cadastro de um leitor para registrar
suas participações no sistema de avaliação.
</p>

<form method="post">

<input name="nome" placeholder="Nome do usuário">

<input name="cidade" placeholder="Cidade">

<button type="submit">Cadastrar usuário</button>

</form>

<div class="acoes">

<a href="/usuarios" class="botao">Ver tabela de usuários</a>

</div>

</div>

</body>
</html>